body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.visualiser_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_container{

    #input_canvas{
        margin: auto;
        display: flex;
        flex-direction: column;
        .row{
            display:flex;
            .cell{
                width: 1px;
                height: 1px;
                background-color: black;
            }
            .active{
                background-color: white;
            }
        }   
    }
}
.output_container{
    display: flex;
    .first_layer_output{
    }
    .second_layer_output{

    }
    .neral_outpuut{

    }
    .output_drawing{
        display: flex;
        flex-direction: column;
        .output_row{
            display: flex;
            .output_cell{
                width: 4px;
                height: 4px;
                background-color: black;
            }
            .output_active{
                background-color: white;
            }
        }
    }
}