body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.visualiser_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input_canvas{
    margin: auto;
    display: flex;
    flex-direction: column;
    .row{
        display:flex;
        .cell{
            width: 2px;
            height: 2px;
            background-color: black;
        }
        .active{
            background-color: white;
        }
    }   
}